body {
    font-family: 'Ms Madi', cursive;
    font-size: 40px;
    line-height: 1.5;
    background-color: #40e0d0;
    margin: 0;
}

h1 {
    color: azure;
    font-size: 120px;
    text-align: center;
    text-shadow: 0 30px 10px rgba(0, 0, 0, 0.8);
    display: inline;

}

.hlavicka {
    background-image: url("obrazky/Uvodni.jpg");
    padding: 150px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 0;
    opacity: 80%;
}

.foto_uvod {
    width: 150px;
    border-radius: 40%;
    border: 2px solid pink;
    float: left;
}

h2 {
    text-align: center;
    font-size: 60px;
    color: darkslategray;
    margin: 50px;
    display: inline;

}

h3 {
    font-size: 60px;
    font-weight: bold;
}

section {
    padding: 10px 100px;
}


.angie img {
    width: 30%;
    border: 2px solid darkcyan;
    border-radius: 10px;
    float: left;
    margin: 10px;

}

.necomalo {
    background-color: darkcyan;
    overflow: auto;
}

